@import 'option.scss';

#breadcrumbs {
    background: url("../../assets/images/breadcrumbs-bg.jpg") center center;
    padding: 100px 0 200px;
    color: $white;

    @include maxW('tablet-small') {
        & {
            padding: 50px 0 150px;
        }
    }

    .breadcrumb {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        @include maxW('mobile-ex-small') {
            & {
                flex-direction: column;
            }
        }

        li:not(.active):after {
            opacity: 0.7;
            content: '/';
            margin: 0 8px;
            border-bottom: none;
        }

        a {
            opacity: 0.7;
            border-bottom: 1px solid #fff;
        }

        a:hover {
            opacity: 1;
            transition: $transition;
        }

        li {
            margin-bottom: 10px;
        }
    }

    .head__name {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        font-size: 36px;
    }
}