@import 'reset.scss';
@import 'option.scss';
@import 'grid.scss';
@import 'animation.scss';

body {
    background: $grey-light;
}

main {
    padding-top: $height-header;

    @include maxW('mobile') {
        & {
            padding-top: 100px;
        }
    }
}

.btn-block {
    display: flex;
    min-height: 39px;

    .btn, button {
        background: $red;
        color: $white;
        font-size: 16px;
        padding: 10px 30px;
        transition: $transition;
        cursor: pointer;
        border: none;
        font-family: 'Consolas', Helvetica, Arial, sans-serif;

        &:hover {
            background: $red-light;
        }
    }

    .btn-white {
        background: none;
        border: 2px solid $white;

        &:hover {
            background: $white;
            color: $red;
        }
    }
}

.display-none {
    display: none;
}

.link {
    &:hover {
        color: $red;
    }
}

h1 {
    font-size: 48px;

    @include maxW('mobile') {
        & {
            font-size: 36px;
            text-align: center;
        }
    }
}

.header-h2 {
    width: 100%;

    h2 {
        text-align: center;
        margin: 50px 0;
        font-size: 30px;
        font-weight: inherit;

        @include maxW('mobile') {
            padding: 0 30px;
        }
    }
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 16px;
}

h3, h4, h5 {
    margin-bottom: 20px;
}

.text h2 {
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
}

.text p {
    margin-bottom: 20px;
}

.text ul {
    list-style: disc;
    margin-left: 50px;
    margin-bottom: 20px;
}

.text ul li {
    margin-bottom: 10px;
}

.text ul li::marker {
    color: $red;
}

.text ol {
    margin-bottom: 20px;
}

.text ol li {
    margin-bottom: 10px;
}

.big-text {
    font-size: 28px;
}

.header-hr {
    border-bottom: 1px solid $grey-light-two;
}

.color-white {
    color: $white;
}

.flex-block {
    display: flex;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

p a, span a, .text li a {
    border-bottom: 1px dashed;
    font-weight: bold;
    display: initial;

    &:hover {
        color: $red;
    }
}

.label-red span {
    display: inline-block;
    background: $red;
    color: $white;
    padding: 5px 10px;
    margin-bottom: 20px;
}