@import 'option.scss';

.guarantee {
    margin-bottom: $margin-bottom-section;

    &__container {
        width: 100%;
        background: $red;
        color: $white;
    }

    &__header h2 {
        margin-bottom: 20px;
    }

    &__content {
        margin: 0 50px 50px;
        text-align: center;

        @include maxW('mobile-small') {
            margin: 0 30px 30px;
        }
    }
}